<!DOCTYPE html>
<html lang="en">
<body style="background-color:antiquewhite;">
<head>
    <title>Login</title>
    <style>
h2{
    text-align: center;
    font-family: Bebas Neue;
    font-size: 150px;
}
h3{
    text-align: center;
    font-family: Bebas Neue;
    font-size: 50px;
}
a {
    display: block;
    width: 100px;
    margin:auto;
    font-family: Bebas Neue;
    font-size: 50px;
}
    </style>
</head>
<body>
<h2>
    Logout
</h2>

<h3>Are you sure?</h3>
<a href="../login"> Yes</a>
<a href="../home">No</a>
</body>
</html>